* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    font-size: 2rem;
    overflow: hidden;
    background-color: rgb(52, 58, 64);
    height: 100vh;
    width: 100vw;

}

header,
footer {
    display: flex;
    justify-content: center;
    background-color: crimson;
    padding: 0.3rem;

}


.header-name {
    font-family: 'Fredoka One', cursive;
    color: #27B5F7;
    font-size: 4rem;
    font-weight: 1000;
    -webkit-text-stroke: 2px black;
}


.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    align-items: center;
}



.input-div {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    padding: 1.5rem;


}

.data-div {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: crimson;
    border-radius: 1rem;
    box-shadow: 0px 0px 1rem 0px rgb(31, 31, 31);
    transition: opacity 0.2s ease-in-out;
    height: 100%;
    gap: 2.5rem;

}

.data-div.show {
    opacity: 1;
}

.data-div>* {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    height: 1.3rem;
    font-weight: 700;
}

.city {
    font-size: 4rem;
    font-weight: 700;
    color: #27B5F7;
    -webkit-text-stroke: 2px black;
    font-family: 'Fredoka One', cursive;
    white-space: nowrap;


}

.hide {
    opacity: 0;
}



.loc-input-error {
    background-color: crimson;
    color: black;
    border-radius: 0.5rem;
    padding: 0.4rem 1.5rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 1rem 0px rgb(31, 31, 31);
}

.hide {
    display: none;
}

input {
    border-radius: 0.5rem;
    padding: 0.4rem 1.5rem;
}

button {
    border-radius: 0.5rem;
    padding: 0.4rem 1.5rem;
}

img {
    overflow: hidden;
    height: 75px;
    width: 75px;
}

@media only screen and (max-width: 760px) {
    body {
        overflow-y: scroll;
        min-width: 400px;
        justify-content: space-between;
    }

    .container {
        margin: 0px;
        align-items: stretch;
        flex: 1;
    }

    header {
        white-space: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .header-name {
        font-size: 2rem;

    }

    .data-div {
        justify-content: center;
        gap: 2rem;
        border-radius: 0px;
        flex: 1;
    }

    .input-div {
        padding: 1.5rem;
    }

    .data-div {
        font-size: 1.5rem;
    }

    .city {
        font-size: 2.5rem;
    }

    input,
    button {
        display: block;
        width: 100%;
    }

    .loc-input-error {
        font-size: 1.5rem;
        width: 100vw;
        white-space: nowrap;
        text-align: center;
    }

}